---
layout: default
---

<head>
  <link rel="stylesheet" type="text/css" href="style.scss">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>


<body>
  <h1>Welcome to my Mathematics Blog!</h1>

  <p style="font-size:40px;"> \[ \int_0^{\frac{\pi}{6}}{ \sec{y} \ dy } = \log_e{\sqrt{3}} \] </p>

  <h1>Latest Posts</h1>

  <ul>
    {% for post in site.posts %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <!-- <p>
    When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
    \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]
  </p> -->


  <p>Testing to see how this works.</p>
  <ul>
    {% for post in site.tags.algebra %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</body>
