---
---

@import "{{ site.theme }}";

.navclass {
  background: none;
}

.aclass {
  background: #990000;
}

p {
  color: #F2F2F2;
}

section {
    #title{
        p {
           color: #F2F2F2;
        }
    }
}
