---
---

@import "{{ site.theme }}";

.navclass {
  background: none;
}

.aclass {
  background: #990000;
}
a {
  color: #CC0000;
}
p {
  color: #F2F2F2;
}

li {
  color: #F2F2F2;
}

section {
    #title{
        p {
           color: #F2F2F2;
        }
    }
}

ul{
  list-style-image:none;
  list-style-type:bullet;
}
